<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>All Ingredients (just to test the code out for All Cocktails)</h1>
      <ul>
        <% @ingredients.each do |ingredient| %>
        <li><%= ingredient.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
